:root {
  --color-primary: #36b37f;
  --color-primaryActive: #008552;
  --color-primaryHover: #c5e9da;
  --color-secondary: #172b4d;
  --color-paragraph: #42526e;
  --color-text: #3a4a42;
  --color-default: #ffffff;
  --color-gradient: linear-gradient(to right, #36b37f, #008552);
  --color-icons: #505f79;
  --color-background: #c1c7d0;
}

.About {
  max-width: 130rem;
}
.About .topSection {
  width: 100%;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.About .topSection img {
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
}
.About .topSection .right {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 0px;
  top: -39px;
}
.About .topSection .left {
  position: absolute;
  height: 55px;
  width: 119px;
  top: 20rem;
  left: -3rem;
}
.About .topSection .aboutme {
  width: 95%;
  display: grid;
  gap: 1rem;
}
.About .topSection .aboutme .secTitle .title {
  margin: auto;
  color: var(--color-secondary);
  font-size: 3.5rem;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 0 auto 3rem auto;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
  z-index: 2;
}
.About .topSection .aboutme .paragraph {
  width: 100%;
  z-index: 100;
}
.About .cardSection {
  justify-content: center;
  margin: 4rem auto 0rem;
  max-width: 130rem;
}
.About .cardSection .singleCard {
  display: grid;
  gap: 1.4rem;
}
.About .cardSection .singleCard .cardContents {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border-radius: 0.8rem;
  border: 1px solid #c1c7d0;
  padding: 4rem 2.4rem 2.4rem 2.4rem;
  row-gap: 1.4rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(29, 31, 29, 0.5);
}
.About .cardSection .singleCard .cardContents .imgDiv {
  padding: 1.5rem;
  background: var(--color-default);
  display: flex;
  border-radius: 10rem;
  margin-bottom: 4rem;
  justify-content: center;
}
.About .cardSection .singleCard .cardContents .imgDiv .logo {
  align-items: center;
  justify-content: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 10rem;
}
.About .cardSection .singleCard .cardContents .title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #344563;
}
.About .cardSection .singleCard .cardContents .allTools {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.About .cardSection .singleCard .cardContents .allTools .tool {
  background-color: var(--color-default);
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  color: var(--color-primaryActive);
  margin-bottom: 1rem;
}

@media screen and (min-width: 500px) {
  .About {
    width: 95%;
    margin: 1rem auto 6rem auto;
  }
  .About .topSection .aboutme .paragraph {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .About .topSection .right {
    height: 140px;
    width: 200px;
  }
  .About .topSection .left {
    height: 155px;
    width: 170px;
  }
}
@media screen and (min-width: 600px) {
  .About {
    width: 100%;
  }
  .About .topSection .aboutme {
    width: 95%;
    margin: auto;
  }
  .About .cardSection {
    width: 97%;
  }
  .About .cardSection .singleCard {
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1050px) {
  .About {
    width: 93%;
  }
  .About .cardSection .singleCard {
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
  }
}
@media screen and (min-width: 1300px) {
  .About {
    width: 100%;
  }
  .About .topSection {
    max-width: 100rem;
  }
  .About .topSection .right {
    height: 160px;
    width: 180px;
  }
  .About .topSection .left {
    height: 175px;
    width: 203px;
  }
  .About .cardSection {
    width: 95%;
  }
}/*# sourceMappingURL=about.css.map */