:root {
  --color-primary: #36b37f;
  --color-primaryActive: #008552;
  --color-primaryHover: #c5e9da;
  --color-secondary: #172b4d;
  --color-paragraph: #42526e;
  --color-text: #3a4a42;
  --color-default: #ffffff;
  --color-gradient: linear-gradient(to right, #36b37f, #008552);
  --color-icons: #505f79;
  --color-background: #c1c7d0;
}

.About {
  // max-width: 130rem;
  .topSection {
    width: 100%;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
      position: absolute;
      z-index: -100;
      top: 0;
      bottom: 0;
    }

    .right {
      position: absolute;
      height: 100px;
      width: 100px;
      right: 0px;
      top: -39px;
    }

    .left {
      position: absolute;
      height: 55px;
      width: 119px;
      top: 20rem;
      left: -3rem;
    }

    .aboutme {
      width: 95%;
      display: grid;
      gap: 1rem;
      margin: 0 auto;

      .secTitle {
        .title {
          margin: auto;
          color: var(--color-secondary);
          font-size: 3.5rem;
          width: max-content;
          position: relative;
          margin: 0 auto 3rem auto;
          padding-bottom: 2rem;
          text-align: center;
          text-transform: capitalize;
          z-index: 2;
        }
      }

      .paragraph {
        width: 100%;
        z-index: 100;
      }
    }
  }

  .cardSection {
    justify-content: center;
    margin: 4rem auto 0rem;
    max-width: 130rem;
    width: 93%;

    .singleCard {
      display: grid;
      gap: 1.4rem;

      .cardContents {
        display: flex;
        flex-direction: column;
        background-color: var(--color-background);
        border-radius: 0.8rem;
        border: 1px solid #c1c7d0;
        padding: 4rem 2.4rem 2.4rem 2.4rem;
        row-gap: 1.4rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(29, 31, 29, 0.5);
        margin: 0 auto;
        width: 90%;

        .imgDiv {
          padding: 1.5rem;
          background: var(--color-default);
          display: flex;
          border-radius: 10rem;
          margin-bottom: 4rem;
          justify-content: center;

          .logo {
            align-items: center;
            justify-content: center;
            height: 4.4rem;
            width: 4.4rem;
            border-radius: 10rem;
          }
        }

        .title {
          font-size: 2.4rem;
          font-weight: 600;
          color: #344563;
        }

        .allTools {
          display: flex;
          column-gap: 1rem;
          flex-wrap: wrap;
          text-align: center;
          align-items: center;
          justify-content: center;
          .tool {
            background-color: var(--color-default);
            padding: 0.8rem 1.2rem;
            border-radius: 0.4rem;
            border: none;
            color: var(--color-primaryActive);
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

// .container {
//   padding-top: 0.4rem;
// }

@media screen and (min-width: 500px) {
  .About {
    width: 95%;
    margin: 1rem auto 6rem auto;

    .topSection {
      .aboutme {
        .paragraph {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .About {
    .topSection {
      .right {
        height: 140px;
        width: 200px;
      }

      .left {
        height: 155px;
        width: 170px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .About {
    width: 100%;
    // padding: 0rem 0 3.2rem 0;

    .topSection {
      .aboutme {
        width: 90%;
        margin: auto;
      }
    }
    .cardSection {
      width: 93%;
      .singleCard {
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1050px) {
  .About {
    width: 93%;
    .cardSection {
      .singleCard {
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .About {
    width: 100%;
    .topSection {
      max-width: 100rem;
      .right {
        height: 160px;
        width: 180px;
      }

      .left {
        height: 175px;
        width: 203px;
      }
    }
    .cardSection {
      width: 84%;
    }
  }
}
